body {
    font-family: 'Barlow', sans-serif;
    color: #2a0a5a;
    border: solid 1em; 
    border-color: rgb(22, 38, 79);
}

#name {
    border-bottom: solid 1vh #2a0a5a;
}

#name-text {
    text-align: center;
    font-size: 6.5vmax;
}

#name-career {
    text-align: center;
    font-size: 3.5vmax;
}

#header {
    margin: 2%;
    padding: 2%;
}

#content {
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
}

#img1 {
    width: 70%;
}

#desc {
    font-size: 1.8vmax;
    text-align: justify;
    margin: 2% 2% 0% 2%;
    padding-right: 2%;
    padding-left: 2%;
}

#carrer{
    background-color: white;
}

#col-contact{
    background-color: #090979;
    background: linear-gradient(#090979, #056dbb);
}

#contact {
    margin-left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
    color: white;
    text-align: center;
}

#date-text {
    padding-top: 5%;
    font-size: 2.5vmax;
    padding-bottom: 5%;
    border-bottom: solid 0.5vh white;
}

#contact-text {
    margin-top: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vmax;
    font-weight: bold;
}

#contact-data {
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vmax;
}

#contact-email {
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.2vmax;
}

#icon {
    margin-top: 8.5vmax;
    font-size: 5vmax;
}

#info-text {
    margin: 4% 2% 0% 2%;
    padding-right: 2%;
    padding-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vmax;
    font-weight: bold;
}

#data-title1 {
    color: rgb(74, 74, 74);
    font-size: 1.8vmax;
    text-align: justify;
    margin: 2% 2% 0% 2%;
    padding-right: 2%;
    padding-left: 2%;
}

#data-title2 {
    color: rgb(74, 74, 74);
    font-size: 1.5vmax;
    text-align: justify;
    margin: 2% 2% 0% 2%;
    padding-right: 2%;
    padding-left: 2%;
}

li {
    color: rgb(74, 74, 74);
    font-size: 1.5vmax;
    text-align: justify;
    margin: 2% 2% 0% 8%;
    padding-right: 2%;
    padding-left: 2%;
}

ul {
    line-height: 1.5vmax;
}
